{% extends 'Admin/homeadmin.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Change Password</h2>
                <form action="/myapp/changepassword_post/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Current Password</label>
                        <input type="text" name="currentpass" class="form-control" id="username" placeholder="Enter your current password" required>
                    </div>
                    <div class="form-group">
                        <label for="username">New Password</label>
                        <input type="text" name="newpass" class="form-control" id="username" placeholder="Enter your new password" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="confirmpass" class="form-control" id="password" placeholder="Confirm password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <div class="text-center mt-3">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}