{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Change Password</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
{##}
{#</head>#}
{#<body>#}
{% extends 'Department/departmentindex.html' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Change Password</h2>
                <form method="post"action="/myapp/departmentchangepassword_post/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="currentpass">Current Password</label>
                        <input type="text" class="form-control" id="currentpass" name="currentpass" placeholder="Enter your Current password" required>
                    </div>
                    <div class="form-group">
                        <label for="newpass">New Password</label>
                        <input type="text" class="form-control" id="newpass" name="newpass" placeholder="Enter your new password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmpass">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpass" name="confirmpass" placeholder="Confirm password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <div class="text-center mt-3">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>html#}